<div class="hero-container">
  <img src="./../../assets/product_1.jpg" alt="Hero Image" />
  <p class="title">Bienvenue chez Touda Fournitures</p>
</div>

<div class="about-us-container">
  <div class="about-us-content">
    <h2>À propos</h2>
    <div class="row">
      <div class="col-md-6 text-left">
        <p>
          Depuis 2005, Touda Fournitures s'est spécialisé dans la fourniture de
          produits de confection et textiles. Basés à Tanger, nous sommes fiers
          de notre expertise et de notre engagement envers la qualité.
        </p>
      </div>
      <div class="col-md-6 text-right">
        <p>
          منذ عام 2005، اختصت تودا فورنيتشرز في توفير منتجات الخياطة والنسيج.
          مقرنا في طنجة، ونحن فخورون بخبرتنا والتزامنا بالجودة.
        </p>
      </div>
    </div>
    <button class="btn-about" routerLink="/about">En savoir plus</button>
  </div>
</div>

<div class="products-section">
  <div class="container text-center">
    <h2>Nos Produits - منتجاتنا</h2>
    <div class="row">
      <div class="col">
        <div class="product-item">
          <img src="./../../assets/product_1.jpg" alt="Produit 1" />
          <p>Dentelles</p>
        </div>
      </div>
      <div class="col">
        <div class="product-item">
          <img src="./../../assets/product_2.jpg" alt="Produit 2" />
          <p>Guipures</p>
        </div>
      </div>
      <div class="col">
        <div class="product-item">
          <img src="./../../assets/product_3.jpg" alt="Produit 3" />
          <p>Fils a coudre</p>
        </div>
      </div>
    </div>
    <button class="btn-products" routerLink="/products">Découvrir</button>
  </div>
</div>

<div class="import-section">
  <div class="container">
    <div class="row">
      <div class="col-md-6">
        <h3>Importation Internationale - استيراد دولي</h3>
        <p>
          Depuis 2005, Touda Fournitures s'est engagé dans l'importation internationale
          de produits de confection et textiles. Nous établissons des partenariats solides
          avec des fournisseurs de confiance en Chine et en Turquie pour vous offrir des
          produits de haute qualité.
        </p>
        <p style="text-align: right;">
          منخرطة في الاستيراد الدولي Touda Fournitures منذ عام 2005، أصبحت
                        من منتجات المنسوجات. لقد قمنا بتكوين شراكات صلبة
                         مع موردي الثقة في الصين و تركيا من أجل تقديم خدماتك
      و منتجات ذات جودة 
        </p>
      </div>
      <div class="col-md-6">
        <img src="./../../assets/import.jpg" alt="Importation Internationale">
      </div>
    </div>
  </div>
</div>

<div class="import-section">
  <div class="container">
    <div class="row">
      <div class="col-md-6 order-md-1 order-2">
        <img src="./../../assets/client.jpg" alt="Expérience Client">
      </div>
      <div class="col-md-6 order-md-2 order-1">
        <h3>Expérience Client - تجربة العميل</h3>
        <p>
          Chez Touda Fournitures, nous mettons l'expérience client au cœur de notre mission.
          Nous nous efforçons de fournir un service exceptionnel, des produits de qualité
          supérieure et une collaboration transparente. Votre satisfaction est notre priorité.
        </p>
        <p style="text-align: right;">
          نضع تجربة العملاء في قلب مهمتنا. نحن نسعى جاهدين لتقديم خدمة استثنائية ومنتجات متميزة وتعاون سلس. رضاكم هو أولويتنا
        </p>
      </div>
    </div>
  </div>
</div>

<div class="location-contact-section">
  <div class="container">
    <h2 class="location-title">Localisation - موقعنا</h2>
    <div class="row">
      <div class="col-md-6">
        <iframe src="https://www.google.com/maps/embed?pb=!1m18!1m12!1m3!1d3237.055082182063!2d-5.82364102449284!3d35.77402327255739!2m3!1f0!2f0!3f0!3m2!1i1024!2i768!4f13.1!3m3!1m2!1s0xd0b876dea85911b%3A0xd83e51f685d8d101!2sLACHIRI%20IMPORT%20SARL!5e0!3m2!1sfr!2sfr!4v1703416267284!5m2!1sfr!2sfr" width="100%" height="450" style="border:0;" allowfullscreen="" loading="lazy" referrerpolicy="no-referrer-when-downgrade"></iframe>
      </div>
      <div class="col-md-6" style="text-align: right">
        <p>
          نحن موجودون في
          <span style="font-weight: 600"
            >لالة شفية، شارع 9، طنجة 90000، المغرب</span
          >. تفضل بزيارتنا لاكتشاف مجموعتنا الواسعة من المنتجات
        </p>
        <p style="font-weight: bold">اتصل بنا</p>
        <p>
          ساعات العمل: من الاثنين إلى السبت، من الساعة 10:00 صباحًا حتى الساعة
          2:00 ظهرًا ومن الساعة 4:00 عصرًا حتى الساعة 7:00 مساءً
        </p>

        <p>رقم الهاتف: +212660724314</p>
      </div>
    </div>
  </div>
</div>


