/* Import Bootstrap styles */
@import '~bootstrap/dist/css/bootstrap.min.css';

/* Your custom styles */
.fixed-header {
    position: fixed;
    top: 0;
    left: 0;
    width: 100%;
    z-index: 1000;
    background-color: #fff;
    padding: 10px 15px; /* Adjust padding as needed */
    box-shadow: 0px 0px 10px rgba(0, 0, 0, 0.2);
}

.logo-img {
    width: 120px;
}

.navbar {
    display: flex;
    justify-content: space-between;
    align-items: center;
    background-color: #fff;
    padding: 2px 15px;
    margin: 0px;
}

.navbar-brand {
    display: flex;
    align-items: center;
    color: #153a55;
    font-weight: 800;
}

.sidenav {
    height: 100%;
    width: 0;
    position: fixed;
    z-index: 1;
    top: 0;
    left: 0;
    background-color: #fff;
    overflow-x: hidden;
    transition: 0.5s;
    padding-top:100px;
}

.sidenav a {
    padding: 15px 8px 15px 32px;
    text-decoration: none;
    font-size: 18px;
    color: #000;
    display: block;
    transition: 0.3s;
}

.sidenav a:hover {
    color: #333;
}

.sidenav.open {
    width: 250px;
}

.nav-item {
    margin-right: 15px;
}

.nav-link {
    font-family: Nunito, sans-serif;
}

.container-fluid {
    margin: 0px;
    padding: 0px;
}

.header-icon {
    margin-left: 15px;
    color: #181818;
}

.icons {
    padding-right: 20px;
    padding-top: 5px;
}

.navbar-nav .nav-item.active a {
    color: #252525;
    font-weight: 550;
}


@media (max-width: 991px) {

    .navbar {
        display: flex;
        justify-content: space-between;
        align-items: center;
        background-color: #fff;
        padding: 2px 8px;
        margin: 0px;
    }

    .navbar-nav {
        display: none;
    }

    .navbar-toggler {
        display: block;
        background-color: transparent;
        border: none;
        padding: 10px;
    }

    .navbar-toggler:hover {
        border-radius: 50%;
    }

    .navbar-toggler:focus {
        outline: none;
        box-shadow: none;
    }

    .sidenav {
        padding-top: 80px;

        h4 {
            font-weight: bold;
            margin: 15px 20px;
        }
    }

    .icons {
        padding-right: 0px;
        padding-top: 5px;
    }

    .header-icon {
        margin-left: 2px;
        margin-right: 13px;
        color: #181818;
    }

    .navbar-nav .nav-item.active a {
        font-weight: 600;
        color: #333333;
    }

}