<div class="products-section">
  <div class="container text-left">
    <h4>Nos Produits - منتجاتنا</h4>
    <div class="row">
      <div class="col-md-3 col-sm-12">
        <div class="product-item">
          <img src="./../../assets/product_1.jpg" alt="Produit 1" />
          <p>Dentelles</p>
        </div>
      </div>
      <div class="col-md-3 col-sm-12">
        <div class="product-item">
          <img src="./../../assets/product_2.jpg" alt="Produit 2" />
          <p>Guipures</p>
        </div>
      </div>
      <div class="col-md-3 col-sm-12">
        <div class="product-item">
          <img src="./../../assets/product_3.jpg" alt="Produit 3" />
          <p>Fils a coudre</p>
        </div>
      </div>
      <div class="col-md-3 col-sm-12">
        <div class="product-item">
          <img src="./../../assets/product_3.jpg" alt="Produit 3" />
          <p>Fils a coudre</p>
        </div>
      </div>
    </div>
    <div class="row">
      <div class="col-md-3 col-sm-12">
        <div class="product-item">
          <img src="./../../assets/product_1.jpg" alt="Produit 1" />
          <p>Dentelles</p>
        </div>
      </div>
      <div class="col-md-3 col-sm-12">
        <div class="product-item">
          <img src="./../../assets/product_2.jpg" alt="Produit 2" />
          <p>Guipures</p>
        </div>
      </div>
      <div class="col-md-3 col-sm-12">
        <div class="product-item">
          <img src="./../../assets/product_3.jpg" alt="Produit 3" />
          <p>Fils a coudre</p>
        </div>
      </div>
      <div class="col-md-3 col-sm-12">
        <div class="product-item">
          <img src="./../../assets/product_3.jpg" alt="Produit 3" />
          <p>Fils a coudre</p>
        </div>
      </div>
    </div>
  </div>
</div>
