<div class="products-section">
  <div class="container text-left">
    <h2>Nos Produits</h2>
    <div class="row">
      <div class="col-md-3 col-sm-12">
        <div class="product-item">
          <img src="./../../assets/dentelles.png" alt="Sachets" />
        </div>
      </div>
      <div class="col-md-3 col-sm-12">
        <div class="product-item">
          <img src="./../../assets/fils_coudre.png" alt="Sachets en polypropylène" />
        </div>
      </div>
      <div class="col-md-3 col-sm-12">
        <div class="product-item">
          <img src="./../../assets/rubans.png" alt="Dentelles" />
        </div>
      </div>
      <div class="col-md-3 col-sm-12">
        <div class="product-item">
          <img src="./../../assets/ciseaux.png" alt="Broderies" />
        </div>
      </div>
    </div>
  </div>
</div>
