<div class="products-section">
  <div class="container text-left">
    <h2 style="border-bottom: 2px solid #ac8053; padding-bottom: 10px">Nos Produits</h2>
    <div class="row">
      <div class="col-md-3 col-sm-12">
        <div class="product-item">
          <img
            src="./../../assets/fil_coudre.png"
            alt="Sachets en polypropylène"
          />
        </div>
      </div>
      <div class="col-md-3 col-sm-12">
        <div class="product-item">
          <img src="./../../assets/bandes_elastiques.png" alt="Sachets" />
        </div>
      </div>
      <div class="col-md-3 col-sm-12">
        <div class="product-item">
          <img src="./../../assets/rubans.png" alt="Dentelles" />
        </div>
      </div>
      <div class="col-md-3 col-sm-12">
        <div class="product-item">
          <img src="./../../assets/ciseaux.png" alt="Broderies" />
        </div>
      </div>
    </div>
    <div class="row">
      <div class="col-md-3 col-sm-12">
        <div class="product-item">
          <img src="./../../assets/soutien_gorge.png" alt="Sachets" />
        </div>
      </div>
      <div class="col-md-3 col-sm-12">
        <div class="product-item">
          <img
            src="./../../assets/buttons.png"
            alt="Sachets en polypropylène"
          />
        </div>
      </div>
      <div class="col-md-3 col-sm-12">
        <div class="product-item">
          <img src="./../../assets/biais.png" alt="Sachets" />
        </div>
      </div>
      <div class="col-md-3 col-sm-12">
        <div class="product-item">
          <img src="./../../assets/fermetures.png" alt="Broderies" />
        </div>
      </div>
    </div>
    <div class="row">
      <div class="col-md-3 col-sm-12">
        <div class="product-item">
          <img src="./../../assets/rubans_adhesifs.png" alt="Sachets" />
        </div>
      </div>
      <div class="col-md-3 col-sm-12">
        <div class="product-item">
          <img
            src="./../../assets/etiquettes.png"
            alt="Sachets en polypropylène"
          />
        </div>
      </div>
      <div class="col-md-3 col-sm-12">
        <div class="product-item">
          <img src="./../../assets/velcro.png" alt="Dentelles" />
        </div>
      </div>
      <div class="col-md-3 col-sm-12">
        <div class="product-item">
          <img src="./../../assets/aiguilles.png" alt="Dentelles" />
        </div>
      </div>
    </div>
    <div class="row">
      <div class="col-md-3 col-sm-12">
        <div class="product-item">
          <img src="./../../assets/dentelles.png" alt="Sachets" />
        </div>
      </div>
      <div class="col-md-3 col-sm-12">
        <div class="product-item">
          <img src="./../../assets/sachets.png" alt="Sachets" />
        </div>
      </div>
      <div class="col-md-3 col-sm-12">
        <div class="product-item">
          <img src="./../../assets/guipure.png" alt="Broderies" />
        </div>
      </div>
    </div>
  </div>
</div>
