.products-section {
  margin-top: 90px;
  font-family: Nunito, sans-serif;
  color: #252525;
}

.container h2 {
  margin-bottom: 18px;
  color: #00384a;
}

.product-item {
  text-align: center;
  padding: 12px;
  font-weight: 600;
  color: #00384a;
  p {
    margin-top: 10px;
  }
}

.product-item img {
  max-width: 100%;
  height: auto;
  border: 1px solid #ddd;
  border-radius: 4px;
  box-shadow: 0px 4px 8px rgba(0, 0, 0, 0.1);
}

@media screen and (max-width: 767px) {
  .product-item {
    padding: 10px 35px;
  }
}
