.products-section{
    margin-top: 90px;
    font-family: Nunito, sans-serif;
    color: #252525;
}

.container h4 {
    margin-bottom: 25px;
}

.product-item {
    text-align: center;
    padding: 5px 30px;
    font-weight: 600;
  }
  
  .product-item img {
    max-width: 100%;
    height: auto;
    border: 1px solid #ddd; 
    border-radius: 2px; 
  }
  
  @media screen and (max-width: 767px) {
    .product-item {
        padding: 10px 35px;
    }
  }
  