<!-- about.component.html -->
<div class="about-us-container">
    <div class="about-us-content">
      <h3>À propos de Touda Fournitures</h3>
      <div class="row">
        <div class="col-md-6 text-left">
          <p>
            Depuis 2005, Touda Fournitures s'est spécialisé dans la fourniture de produits de confection et textiles. Basés à Tanger, nous sommes fiers de notre expertise et de notre engagement envers la qualité.
          </p>
          <p>
            Notre engagement envers la qualité se reflète dans chaque produit que nous fournissons. Que ce soit des dentelles, des guipures, des fils à coudre ou d'autres matériaux, nous mettons l'accent sur l'excellence.
          </p>
        </div>
        <div class="col-md-6 text-right">
          <p>
            منذ عام 2005، اختصت تودا فورنيتشرز في توفير منتجات الخياطة والنسيج. مقرنا في طنجة، ونحن فخورون بخبرتنا والتزامنا بالجودة.
          </p>
          <p>
            التزامنا بالجودة يتجلى في كل منتج نقدمه. سواء كانت الدانتيل، الجوبير، خيوط الخياطة أو غيرها من المواد، نضع الأكثر أهمية على التميز.
          </p>
        </div>
      </div>
    </div>
  </div>
  