<footer
  class="footer-section"
  style="background-color: #0a456b; color: #fff; padding: 20px;margin-top: 40px;"
>
  <div class="container">
    <div class="footer-widgets">
      <div class="row">
        <div class="col-md-5">
          <div class="foo-block">
            <img
              src="./../../assets/logo_touda_1.png"
              alt="Touda Fournitures Logo"
              style="width: 95px; height: 95px"
            />
            <p style="font-size: 16px; margin-top: 20px">
              <strong>Touda Fournitures</strong><br />
              Lalla Chafia, rue 9, Tanger 90000, Maroc
            </p>
            <p style="margin-top: 10px">
              lachiriimport@gmail.com | +212660724314
            </p>
          </div>
        </div>
        <div class="col-md-3">
          <div class="foo-block">
            <h5>Liens Rapides</h5>
            <p routerLink="/home" class="foot-link">Accueil</p>
            <p routerLink="/about" class="foot-link">À Propos</p>
            <p routerLink="/products" class="foot-link">Nos Produits</p>
            <p routerLink="/contact" class="foot-link">Contact</p>
          </div>
        </div>

        <div class="col-md-4">
          <div class="foo-block text-center" style="padding: 50px;">
            <a
              href="https://www.instagram.com/lachiri.import/"
              target="_blank"
              class="header-icon"
            >
              <i class="fab fa-instagram fa-lg"></i>
            </a>
            <a
              href="https://www.instagram.com/lachiri.import/"
              target="_blank"
              class="header-icon"
            >
              <i class="fab fa-facebook fa-lg"></i>
            </a>
          </div>
        </div>
      </div>
    </div>
    <div class="copyright">
      <div class="footer-copy">
        <span class="footer-year">2023</span>
        © Touda Fournitures
      </div>
      <ul class="footer-social"></ul>
    </div>
  </div>
</footer>
